@import url('https://fonts.cdnfonts.com/css/calculator');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Calculator', sans-serif;
    font-size: 4rem;
}

p {
    font-family: 'Calculator', sans-serif;
    font-size: 2rem;
}

.quoteCard {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.quoteCard__title {
    color: white;
    text-shadow: 4px 4px 4px rgba(128, 0, 128, 0.5);
}

.quoteCard__paragraph {
    margin: 30px auto;
    max-width: 400px;
    color: #483285;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.171));
    border: 1px solid black;
    border-radius: 2rem;
    padding: 10px;
    font-weight: bold;
    transition: opacity 1s ease-in-out;
}

.quoteCard__btn {
    border-radius: 50%;
}

.quoteCard__footer p {
    color: white;
    font-size: 1.5rem;
}