.app {
    background-image: url('/bg1.webp');
    background-size: cover;
    background-position: center;
}

.app.bg1 {
    background-image: url('/bg1.webp');
    background-size: cover;
    background-position: center;
}

.app.bg2 {
    background-image: url('/bg2.webp');
    background-size: cover;
    background-position: center;
}

.app.bg3 {
    background-image: url('/bg3.webp');
    background-size: cover;
    background-position: center;
}

.app.bg4 {
    background-image: url('/bg4.webp');
    background-size: cover;
    background-position: center;
}