html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    cursor: url(https://ani.cursors-4u.net/games/gam-16/gam1570.cur), auto !important;
    margin: 0;
    padding: 0;
}

button {
    cursor: url(https://ani.cursors-4u.net/games/gam-16/gam1560.cur), auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Calculator';
}

p {
    margin: 0;
    font-family: 'Calculator';
}